@charset "UTF-8";

a {
    text-decoration: none;
    color: #000;
    
}
body { font-size:14px; }
ul {
    padding:0;
    margin:0;
}
li {
    list-style-type: none;
}
address {  
    font-style:normal;
}
.wrap {
    /* position: relative;
    display: block; */
    width: 980px;
    margin: 0 auto;
    margin-top: 220px;
    background: rgb(255, 234, 0);
}

.left {
    float: left;
    width:50%;
}
.right {
    float: right;
    width:50%;
}
.logo { margin-bottom:50px; }
.title { font-size:18px; margin-bottom:6px; }
.notice { color:rgb(255, 234, 0); }
.notice_wrap { margin-top:18px; } 
.notice_wrap li { margin-top:18px; }
.notice_wrap li:last-child { margin-bottom:0px; }
.notice_wrap li a:hover { text-decoration: underline; }
.page { position:relative; border:1px solid #000; margin-top:70px; width: 90%; border-radius:10px; height:50px; line-height:50px; }
.page ul { position:relative; width:100%; }
.page ul li { float:left; width:49%; text-align:center; }
.page ul li:first-child { border-right:1px solid #000; }

.footer { position:relative; display:block; margin-top:60px; color:#555555; }
.footer address { margin-bottom:6px; }
.footer ul { display:flex; justify-content:flex-start; }
.footer p { margin-top:20px; }

.version { position:relative; border:1px solid black; width: 30%; float: right; margin-top: 20px; border-radius: 10px; height: 30px; line-height: 30px;}
.version ul {position: relative; width: 100%;}
.version ul li { float: right; width: 50% ;text-align: center;}
.login {margin-top: 135px;}
.lo {font-size: 25px;color: rgb(255, 234, 0);}
.wel {font-size: 18px; margin-left: 15px; margin-bottom: 0; color: burlywood;}
.log { position: relative; border: 1px solid black; width: 80%; margin-top: 20px; margin-bottom: 10px; border-radius: 10px; height: 40px; line-height: 40px;}
.log ul{position: relative; width: 100%;}
.log li { float: inline-start; margin-left: 10px; margin-top: 0; width: 30%; text-align: center;}
.log ul li:first-child { border-right: 1px solid black;}
.log ul li:last-child {border-left: 1px solid black;}
.input_wrap {width: 290px;height: 85px; display: inline-block; float: left;}
.in {width: 100%; height: 35px; border-radius: 5px;}
.btn_login { margin-left: 15px; display: inline-block; width: 85px; height: 85px; background-color: rgb(255, 234, 0); line-height: 85px; text-align: center; border-radius: 10px;}
.fot {margin-top: 100px; line-height: 25px;}
.check { margin-top: 5px;}
.join { margin-left: 25px;}


